{% extends 'core/base.html' %}
{% load static %}

{% block title %}Blood Bank | Dashboard{% endblock %}

{% block content %}

    <div class="container mb-3">
    <!-- Stock Summary -->
    <h2 class="mt-3"> Stock Summary</h2>
    <hr>
    
    <div class="stock-summary mt-2">
      {% for key, value in stock_num.items %}
        <div class="blood-group">
          <div class="card" style="width: 10em;">
            <div class="card-body">
              <h2 class="card-title text-center">Group {{ key }}</h2>
              <p class="card-text text-center">{{ value }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    

    <section class="mt-5">
      <h2>Donor Summary</h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="box-area">
            <h5>Donation Appointments</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Donate Date</th>
                  <th scope="col">Blood Type</th>
                  <th scope="col">Phone</th>
                </tr>
              </thead>
              <tbody>
                {% for app in appointments %}
                    <tr>
                    <th scope="row">{{ app.id }}</th>
                    <td>{{ app.user.first_name }}</td>
                    <td>{{ app.user.last_name }}</td>
                    <td>{{ app.donate_date }}</td>
                    <td>{{ app.user.userprofile.blood_group }}</td>
                    <td>{{ app.user.userprofile.phone }}</td>
                    </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-area">
            <h5>Donation History</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Donor Name</th>
                  <th scope="col">Blood Type</th>
                  <th scope="col">Blood Volume</th>
                </tr>
              </thead>
              <tbody>
                {% for donation in donations %}
                  <tr>
                    <th scope="row">{{ donation.id }}</th>
                    <td>{{ donation.user.first_name }} {{ donation.user.last_name }}</td>
                    <td class="text-center">{{ donation.blood_type }}</td>
                    <td class="text-center">{{ donation.blood_volume }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-5">
      <div>
        <h2>Request Summary</h2>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="box-area">
              <h5>Request</h5>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">Request Amount</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in requests %}
                    <tr>
                      <th scope="row">1</th>
                      <td>{{ request.hospital }}</td>
                      <td>{{ request.blood_type }}</td>
                      <td>{{ request.request_amount }}</td>
                      <td>{{ request.withdraw_date }}</td>
                      <td>{{ request.status }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-area">
              <h5>Hospitals</h5>
              <table class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">phone</th>
                    <th scope="col">email</th>
                  </tr>
                </thead>
                <tbody>
                  {% for hospital in hospitals %}
                    <tr>
                      <th scope="row">{{ hospital.id }}</th>
                      <td>{{ hospital.name }}</td>
                      <td>{{ hospital.address }}</td>
                      <td>{{ hospital.phone }}</td>
                      <td>{{ hospital.email }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}