{% extends 'core/base.html' %}
{% load static %}

{% block title %}Blood Bank | Stocks {% endblock %}

{% block content %}
    <div class="container" style="min-height: 33em;">
        <h2 class="mt-3">Stocks</h2>
        <hr>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Blood bag id</th>
                    <th>Blood Type</th>
                    <th>Blood Volume</th>
                    <th>Receive Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.blood_type }}</td>
                        <td>{{ item.blood_volume }}</td>
                        <td>{{ item.receive_date }}</td>
                        <td class="table-icon">
                            <a href="{% url 'core:delete_stock' item.id %}" class="text-primary"><i class="icofont-bin"></i></a>
                            {% comment %} <a href="" class="text-primary"><i class="icofont-edit"></i></a> {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}