

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.user-header {
  background-color: #f33446;
  /* overflow: hidden; */
}

.user-header .dropdown-menu a {
    color: #000 !important;
}

.navbar-brand .img {
  width: 50px;
  height: 50px;
  transform: scale(2.5);
}

.logo-box {
  height: inherit;  
  overflow: hidden;
  width: 125px;
  text-align: center;
}
/*--------------------------------------------------------------
  # Option Menu
  --------------------------------------------------------------*/
.option-menu {
  margin-top: 20px;
}
.option-menu .icon-box {
  text-align: center;
  /* border: 1px solid rgba(78, 76, 76, 0.76); */
  padding: 40px 10px;
  transition: all ease-in-out 0.3s;
  padding: 40px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.option-menu .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f33446;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.option-menu .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.option-menu .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #fbe2dd;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.option-menu .icon-box h1 {
  font-weight: 700;
  margin-bottom: 15px;
  /* font-size: 34px; */
}

.option-menu .icon-box h1 a {
  color: #000 !important;
  font-size: 34px;
}

.option-menu .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.option-menu .icon-box:hover {
  background: #f33446;
  border-color: #f33446;
}

.option-menu .icon-box:hover .icon {
  background: #fff;
}

.option-menu .icon-box:hover .icon i {
  color: #f33446;
}

.option-menu .icon-box:hover .icon::before {
  background: #ef9383;
}

.option-menu .icon-box:hover h1 a,
.option-menu .icon-box:hover p {
  color: #fff;
}

/* Donation History */
.donation-history h2 {
  margin-top: 40px;
  text-align: center;
}
